
:root {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  }
  .mask1 {
    -webkit-mask-image: url(images/logo.png);
    mask-image: url(images/logo.png);
    mask-position: center;
    mask-size: 20%;
    mask-repeat: no-repeat;
    filter: url(#fluted);
  }
  
  
  .flutedImg {
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: url(#fluted);
  }
  
  body {
    background: white;
    height: 100svh;
    display: grid;
    place-items: center;
  
    font-family: "Manrope", sans-serif;
    color: white;
  
    grid-template-areas: "stack";
  
    > * {
      grid-area: stack;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    grid-template-areas: "stack";
  
    filter: url(#ambilight);
  
    & > * {
      grid-area: stack;
    }
  }
  
  img {
    /*   position: absolute; */
    z-index: -1;
    /*   inset: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  svg {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  
  [fx="fluted"] {
    backdrop-filter: url(#fluted);
  }