body {
    margin: 0;
    background: black;
    overflow: hidden;
}

a {
    text-decoration: none;
}

canvas {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.container {
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    z-index: 0;
}

.container img {
    display: block;
}

.container h1, h2, h3, h4 {
    font-family: "Style Script", cursive;
    font-style: italic;
    color: white;
    text-align: center;
    margin: 0;
    z-index: 4;
}

#windowBackground {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(140, 140, 140, 0.4);
}

#windows {
    position: absolute;
    top: 15%;
    left: 25%;
    height: 70%;
    width: 50%;
    z-index: 1001;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px;
    transform: translateY(-200%);
    transition: transform 1s ease-in-out;
}

#windows.show {
    transform: translateY(0);
}

#windows.tuck {
    transform: translateY(-200%);
}

#windows img {
    position: absolute;
    height: 60%;
    width: 45%;
    right: 5%;
    top: 15%;
}

#windows div {
    overflow: scroll;
    scrollbar-width: none;
    position: absolute;
    left: 5%;
    top: 15%;
    height: 70%;
    width: 40%;
    color: white;
    font-family: "IBM Plex Mono", monospace;
}

#gas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
}

#gas img {
    position: absolute;
    display: block;
    object-fit: fill;
    filter: saturate(100%);
}

#gas canvas {
    position: absolute;
    filter: saturate(100%);
}

#vector2 {
    mix-blend-mode: lighten;
}

#top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 10%;
    width: 100%;
    z-index: 1;
    align-items: center;
}

#top-bar div {
    margin: 0;
}

#top-bar .left-space {
    top: auto;
    display: flex;
    width: auto;
    height: auto;
    float: left;
    align-items: center;
    height: 100%;
}

#top-bar .right-space {
    top: auto;
    display: grid;
    width: auto;
    height: auto;
    float: right;
    align-items: center;
    height: 100%;
}

#top-bar .right-space h4 {
    margin-right: 16px;
    float: right;
}

#top-bar .left-space svg, h4 {
    margin-left: 16px;
    float: left;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}