@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(9.5);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#zoom {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  animation-name: zoom-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(1, 0, 1, 1);
}

#hex-logo {
  z-index: 2;
  position: absolute;
  top: 42%;
  left: 44%;
  height: 16%;
  width: 12%;
  animation-name: fade-out;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
}

body {
  background-color: rgb(243, 243, 243);
}